{{ form_widget(form[fieldName],{value: attribute(formValues, fieldName) ,attr:{class:errors[fieldName] ? 'invalid':''}}) }}
{{ form_label(form[fieldName]) }}
{% if errors[fieldName] %}
    <span class="helper-text" data-error="{{ errors[fieldName]|trans }}"></span>
{% endif %}
