{% extends 'base_resto.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-content">
            {{ 'business-lunch'|content }}

            {{ 'business-lunch-waterloo'|download }}
            {{ 'business-lunch-genval'|download }}</div>
    </div>

{% endblock %}

