{% extends 'base_resto.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-content">
            {{ 'registration-complete'|content }}
        </div>
    </div>
{% endblock %}
